<div class="lc-actions-menu">
  <button
    mat-icon-button
    type="button"
    class="lc-actions-menu__trigger"
    [matMenuTriggerFor]="menu"
    [attr.aria-label]="ariaLabel"
    (mousedown)="$event.stopPropagation()"
    (click)="$event.stopPropagation()"
  >
    <mat-icon class="lc-actions-menu__more" aria-hidden="true">more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu" xPosition="before" class="lc-actions-menu-panel">
    @for (action of visibleActions(); track action.id) {
      <button
        mat-menu-item
        type="button"
        [attr.data-action-id]="action.id"
        [class.lc-actions-menu__danger]="action.danger"
        (click)="run(action)"
      >
        <mat-icon
          class="lc-actions-menu__icon"
          [class.lc-actions-menu__icon--view]="action.id === 'view'"
          [class.lc-actions-menu__icon--edit]="action.id === 'edit'"
          [class.lc-actions-menu__icon--inactive]="action.id === 'inactive' || action.id === 'deactivate' || action.id === 'toggle'"
          [class.lc-actions-menu__icon--delete]="action.id === 'delete' || action.danger"
        >
          {{ action.materialIcon }}
        </mat-icon>
        <span>{{ action.label }}</span>
      </button>
    }
  </mat-menu>
</div>
